body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: auto;
    padding: 30px;
    line-height: 1.6;
}

h1 {
    font-size: 2em;
}

.description {
    font-size: 1.3em;
}

button {

    width: 100%;
    min-height: 20vh;

    font-size: clamp(1.5rem, 4vw, 3rem);
    padding: 12px 20px;

    margin-top: 20px;

    display: block;

    cursor: pointer;
}